*{
    margin: 0;
    padding: 0;
  }
  header{
    font-family: Helvetica;
    width: max-content;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }
  
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }

  .timeline {
    position: absolute;
    max-width: 1200px;
    margin: 0 auto;
    top: 110px;
    left: 0px;
  }

  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right::after {
    left: -16px;
  }

  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  @media screen and (max-width: 600px) {

    .timeline::after {
    left: 31px;
    }

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
    left: 15px;
    }
    .right {
    left: 0%;
    }
  }
  .wrapper1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .sectionxp{
    color: rgb(255, 255, 255);
    grid-column: 1 / 3;
    grid-row: 1;  
  }

  footer{
    padding: 1em;
    color: white;
    background-color: black;
    clear:left;
    text-align: center;
    position:fixed;
     left:0px;
     bottom:0px;
     height:30px;
     width:100%;
  }
  
  header{
  padding: 1em;
  color: white;
  background-color: black;
  clear:left;
  text-align: center;
}